geopandas
pandas>=2.0.0
numpy == 1.26.4
matplotlib
scikit-learn
seaborn
shapely
pyproj
rtree
fiona
rasterio
tqdm
pyodbc
python-dotenv
xarray
rioxarray
xlrd
fastparquet
pyarrow==14.0.1
imbalanced-learn
scikit-learn-extra
bayesian-optimization
pyclustering